# Depencencies

In [1]:
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from scipy.stats import linregress
import numpy as np

# Import files

In [2]:
sui_state = "suicide_rate_state.csv"
sui_state_df = pd.read_csv(sui_state)

In [3]:
sui_state_df.head()

  Unnamed: 0    State  Year  Deaths  Population  Crude Rate
0        NaN  Alabama  1999     554     4430141        12.5
1        NaN  Alabama  2000     582     4447100        13.1
2        NaN  Alabama  2001     512     4467634        11.5
3        NaN  Alabama  2002     513     4480089        11.5
4        NaN  Alabama  2003     520     4503491        11.5

In [4]:
gdp_state = "states_2018_gdp.csv"
gdp_state_df = pd.read_csv(gdp_state)

In [5]:
gdp_state_df.head()

,State,Gross Domestic Product ($ Millions),Gross Domestic Product per Capita ($ Dollars)
0,Alabama,221736,40598
1,Alaska,54734,71996
2,Arizona,348297,43464
3,Arkansas,128419,38919
4,California,2997733,68803

In [6]:
gdp_state1 = "bea-gdp-by-state.csv"
gdp_state1_df = pd.read_csv(gdp_state1)

In [7]:
gdp_state1_df.head()

   Fips           Area   2013   2014   2015   2016   2017
0     0  United States  48534  49329  50301  50660  51337
1  1000        Alabama  36674  36473  36818  37158  37508
2  2000         Alaska  69711  67179  65971  63304  63610
3  4000        Arizona  38352  38534  38787  38940  39583
4  5000       Arkansas  35888  36265  36295  36502  36714

# Clean Files

In [8]:
sui_state_df = sui_state_df.drop(columns = "Unnamed: 0")
sui_state_df

        State  Year  Deaths  Population  Crude Rate
0     Alabama  1999     554     4430141        12.5
1     Alabama  2000     582     4447100        13.1
2     Alabama  2001     512     4467634        11.5
3     Alabama  2002     513     4480089        11.5
4     Alabama  2003     520     4503491        11.5
...       ...   ...     ...         ...         ...
1117  Wyoming  2016     144      585501        24.6
1118  Wyoming  2017     157      579315        27.1
1119  Wyoming  2018     147      577737        25.4
1120  Wyoming  2019     170      578759        29.4
1121  Wyoming  2020     182      582328        31.3

[1122 rows x 5 columns]

In [9]:
gdp_state1_df = gdp_state1_df.drop(columns = "Fips")
# gdp_state1_df.head()

In [10]:
gdp_state1_df = gdp_state1_df.rename(columns = {"Area": "State"})
# gdp_state1_df.head()

In [11]:
gdp_state1_df = gdp_state1_df.drop([0])
gdp_state1_df.head()

        State   2013   2014   2015   2016   2017
1     Alabama  36674  36473  36818  37158  37508
2      Alaska  69711  67179  65971  63304  63610
3     Arizona  38352  38534  38787  38940  39583
4    Arkansas  35888  36265  36295  36502  36714
5  California  53838  55571  57637  58974  60359

In [ ]:
gdp_merge = gdp_merge.drop(columns = "Gross Domestic Product ($ Millions)")
gdp_merge.head()

In [ ]:
gdp_merge = gdp_merge[['State', '2013', '2014', '2015', '2016', '2017', "Gross Domestic Product per Capita ($ Dollars)"]]
gdp_merge

In [ ]:
gdp_merge = gdp_merge.rename(columns = {"Gross Domestic Product per Capita ($ Dollars)": "2018 GDP"})
gdp_merge = gdp_merge.rename(columns = {'2013': "2013 GDP",
                                        '2014': "2014 GDP",
                                        '2015': "2015 GDP",
                                        '2016': "2016 GDP",
                                        '2017': "2017 GDP",
                                        })
gdp_merge.head()

In [ ]:
gdp_merge_df = gdp_merge
gdp_merge_df.head()

In [ ]:
gdp_merge = pd.merge(gdp_state_df, gdp_state1_df, on = ["State"])
gdp_merge.head()

In [ ]:
# sui_df = pd.merge(sui_state_df, gdp_merge_df, on = ["State"])

# merge_sui_gdp_df = merge_sui_gdp_df.sort_values(["State", "Year"], ascending = True)
# merge_sui_gdp_df.head(50)

In [ ]:
# merge_sui_gdp_df['Year'] = merge_sui_gdp_df['Year'].astype(int)

# merge_sui_gdp_df.info()

In [ ]:
# scatter = merge_sui_gdp_df.loc[merge_sui_gdp_df["Year"]]
# scatter

## Graphing

In [ ]:
x_values = merge_sui_gdp_df['Year']
y_values = merge_sui_gdp_df['Crude Rate']

In [ ]:
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)

In [ ]:
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

In [ ]:
plt.scatter(x_values, y_values)
plt.annotate(line_eq, (35000, 10.0), fontsize = 15, color = 'Red')
plt.plot(x_values, regress_values, "r-")
plt.xlabel("Year")
plt.ylabel("Crude Suicide Rate")
plt.title("GDP vs Suicide Rate for US States per year")
plt.show

In [ ]:
correlation = st.pearsonr(x_values, y_values)
print(correlation)

# print(f"The correlation between GDP per Capita and Crude suicide rate for US states in 2018 is {(correlation)}")